body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    padding: 10px;
    background-color: #3B5998;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container a {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: black;
    text-decoration: none;
}